<section class="fv-side-bar">
  <a href="/"><h1 class="orangelike-colour">FileVault</h1></a>
  <ul class="fv-side-bar-list">
    <li class="fv-side-bar-item">
      <form>
        <% if (includeAddFile) { %>
          <input
            type="file"
            id="fv-file-input-uploader"
            multiple
            style="display:none"
          />

          <button class="fv-file-input-select" type="button">
            <img src="/icons/plus.svg" alt="plus" />
            New File
          </button>
        <% } %>

        <button
          type="submit"
          style="display:none">
        </button>

        <div class="fv-file-upload-submenu" style="display: none;">
          <button>
          </button>
        </div>
      </form>
    </li>

    <li class="fv-side-bar-item">
      <a href="/dashboard/all-files">
        <img src="/icons/file-multiple.svg" alt="file" />
        All Files
      </a>
    </li>
    <li class="fv-side-bar-item">
      <a href="/dashboard/folders">
        <img src="/icons/folder-multiple.svg" alt="folder" />
        Folders
      </a>
    </li>
    <li class="fv-side-bar-item">
      <a href="/dashboard/favourites">
        <img src="/icons/heart.svg" alt="favourite" />
        Favorites
      </a>
    </li>
    <li class="fv-side-bar-item">
      <a href="/dashboard/settings">
        <img src="/icons/settings.svg" alt="settings" />
        Settings
      </a>
    </li>
    <li class="fv-side-bar-item">
      <a href="/sign-out">
        <img src="/icons/logout.svg" alt="logout" />
        Sign Out
      </a>
    </li> 
  </ul>
</section>
