<!DOCTYPE html>

<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./styles.css">
    <script src="./js/dashboard.js" defer></script>
    <title>FileVault | Dashboard</title>
  </head>

  <body>
    <main class="fv-dashboard">
      <section class="fv-side-bar">
        <a href="/"><h1 class="orangelike-colour">FileVault</h1></a>
        <ul class="fv-side-bar-list">
          <li class="fv-side-bar-item">
            <form>
              <input
                type="file"
                id="fv-file-input-uploader"
                multiple
                style="display:none"
              />
 
              <button class="fv-file-input-select" type="button">
                <img src="./icons/plus.svg" alt="plus" />
                New File
              </button>

              <div class="fv-file-upload-submenu" style="display: none;">
                <button>
                </button>
              </div>
            </form>
          </li>

          <li class="fv-side-bar-item">
            <a href="/dashboard/all-files">
              <img src="./icons/file-multiple.svg" alt="file" />
              All Files
            </a>
          </li>
          <li class="fv-side-bar-item">
            <a href="/dashboard/folders">
              <img src="./icons/folder-multiple.svg" alt="folder" />
              Folders
            </a>
          </li>
          <li class="fv-side-bar-item">
            <a href="/dashboard/favourites">
              <img src="./icons/heart.svg" alt="favourite" />
              Favorites
            </a>
          </li>
          <li class="fv-side-bar-item">
            <a href="/dashboard/settings">
              <img src="./icons/settings.svg" alt="settings" />
              Settings
            </a>
          </li>
          <li class="fv-side-bar-item">
            <a href="/sign-out">
              <img src="./icons/logout.svg" alt="logout" />
              Sign Out
            </a>
          </li> 
        </ul>
      </section>

      <section class="fv-display-section">
        <header class="fv-display-header">
          <form class="fv-search">
            <input type="text" name="fv_search" placeholder="search file..." />
            <button class="fv-search-btn">
              <svg>
                <use xlink:href="#fv-search-svg-sym" />
              </svg>
            </button>
          </form>

          <div class="fv-profile-area">
            <div>
              <img src="./icons/face-woman-profile.svg" alt="logout" width="32px" height="32px">
            </div>
          </div>
        </header>
       
        <h3>Recent Files</h3>
        <h3>Uploaded Files</h3>
        <div class="fv-file-lister">
          <div class="fv-file-lister-entry">
            <button>Name</button>
            <ul class="fv-file-list">
            </ul>
          </div>
          
          <div class="fv-file-lister-entry">
            <button>Type</button>
            <ul class="fv-file-list">
            </ul>
          </div>

          <div class="fv-file-lister-entry">
            <button>Size</button>
            <ul class="fv-file-list">
            </ul>
          </div>

          <div class="fv-file-lister-entry">
            <button>Shared</button>
            <ul class="fv-file-list">
            </ul>
          </div>

          <div class="fv-file-lister-entry">
            <button>Uploaded</button>
            <ul class="fv-file-list">
            </ul>
          </div>
        </div> 
      </section>
    </main>
  </body>

  <svg xmlns="http://www.w3.org/2000/svg" >
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="fv-search-svg-sym">
    <path d="M9.5,4C13.09,4 16,6.91 16,10.5C16,12.12 15.41,13.6 14.43,14.73L20.08,20.38L19.37,21.09L13.72,15.44C12.59,16.41 11.11,17 9.5,17C5.91,17 3,14.09 3,10.5C3,6.91 5.91,4 9.5,4M9.5,5C6.46,5 4,7.46 4,10.5C4,13.54 6.46,16 9.5,16C12.54,16 15,13.54 15,10.5C15,7.46 12.54,5 9.5,5Z" />
    </symbol>
  </svg>
</html>
