<!DOCTYPE html>

<html lang='en-US'>
  <head>
    <meta charset='utf-8' />
    <link rel='stylesheet' href='./styles.css' />
    <title>FileValue | Home</title>
  </head>

  <body>
    <header class="fv-header-nav">
      <a href="/"><h1 class="orangelike-colour">FileVault</h1></a>
      <nav>
        <ul class="fv-header-links">
          <li>
            <a href="/sign-in"><button class="sign-in-btn">Sign In</button></a>
          </li>
          <li>
            <a href="/sign-up"><button class="sign-up-btn">Sign Up</button></a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <section class="fv-introduction fv-main-cont">
        <div class="fv-welcome-and-p">
          <h1 class="fv-welcome">Welcome to <span class="orangelike-colour">FileVault</span></h1>
          <p>
            Experience the simplicity of modern file storage. Upload, organize, and share your files securely—right from your dashboard.
          </p>
        </div>

        <div class="fv-picture-demo">
          <p>[A photo that advertises this site]</p>
        </div>
        <!--<img class="fv-picture-demo" alt="homepage image" />-->

      </section>

      <section class="fv-features fv-main-cont">
        <div class="fv-welcome-and-p">
          <h1 class="fv-welcome">Equipped with the <span class="orangelike-colour">best features</span></h1>
          <p>
            FileVault offers a secure and reliable way to store, manage,
            and share your files effortlessly. Whether you're an individual,
            a small business, or a growing organization, FileVault provides a
            seamless and intuitive platform for handling all your file storage needs.
            Sign up today!
          </p>
        </div>

        <a href="/sign-up">
          <button class="fv-front-signup-btn">Sign Up</button>
        </a>

        <div class="fv-feature-cards">
          <div class="fv-feature-card">
            <img class="icon" alt="shield icon" src="./icons/shield-outline.svg" />
            <h3>Security</h3>
            <p>
              Your files are protected with the
              latest encryption technologies,
              ensuring they are safe from unauthorized access.
            </p>
          </div>

          <div class="fv-feature-card">
            <img class="icon" alt="folder icon" src="./icons/folder-outline.svg" />
            <h3>Organized & Efficient</h3>
            <p>
              Keep your files organized with our folder management system, and
              quickly search for files using advanced filtering options.
            </p>
          </div>

          <div class="fv-feature-card">
            <img class="icon" alt="earth icon" src="./icons/earth.svg" />
            <h3>Accessible Anywhere</h3>
            <p>
              Access your files from any device, anywhere in the world, with our cloud-based platform.
            </p>
          </div>

          <div class="fv-feature-card">
            <img class="icon" alt="trending icon" src="./icons/trending-up.svg" />
            <h3>Scalable</h3>
            <p>
              Whether you’re storing a few files or managing a large volume of data, FileVault scales with your needs without compromising performance.
            </p>
          </div>
        </div>
      </section>
    </main>
    <footer>© 2024 FileVault. All rights reserved.</footer>
  </body>
</html>
