<!DOCTYPE html>

<html lang='en-US'>
  <head>
    <meta charset='utf-8' />
    <link rel='stylesheet' href='./styles.css' />
    <title>FileValue | Home</title>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li>Hey!</li>
        </ul>
      </nav>
    </header>

    <h1>
      Welcome to FileVault! 
    </h1>
    <p>a place where you can store personal files in the cloud. (TODO: homepage that advertises this thing nicely.)</p>

    <footer></footer>
  </body>
</html>
