@font-face {
  font-family: "space-grotesk";
  src: url("./fonts/space-grotesk.ttf");
}

:root {
  --main-bluelike: #223fd4;
  --bluish0: #3467e8;
  --bluish-white: #f4f9ff;

  --max-container-width: 1300px;
}

* {
  box-sizing: border-box;
  font-family: "space-grotesk";
}

body {
  padding: 0px;
  margin: 0px;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

button {
  cursor: pointer;
  font-family: "space-grotesk";
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0px;
  margin: 0px;
}

p {
  line-height: 1.6;
}

.fv-header-nav {
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fv-header-links {
  display: flex;
  align-items: center;
  gap: 16px;
}

.sign-in-btn, .sign-up-btn, .fv-submit-btn {
  background-color: var(--bluish0);
  color: var(--bluish-white);
  border: 1px solid transparent;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;
}

.sign-in-btn:hover, .sign-up-btn:hover, .fv-submit-btn:hover {
  background-color: #0518c7;
}

.fv-submit-btn {
  margin-top: 8px;
  border-radius: 12px;
  border: 1px solid #020250;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

a {
  text-decoration: none;
  color: black;
}

.fv-header-nav h1 {
  font-size: 42px;
}

.orangelike-colour {
  color: var(--main-bluelike);
}

main {
  padding: 0px 32px;
}

.fv-main-cont {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-container-width);
}

.fv-introduction {
  display: flex;
}

.fv-picture-demo {
  width: 700px;
  height: auto;
}

.fv-welcome-and-p {
  max-width: 600px;
  min-width: 200px;
}

.fv-welcome {
  font-size: 32px;
  margin-bottom: 4px;
}

.fv-front-signup-btn {
  border: 1px solid transparent;
  background-color: #3467e8;
  color: var(--bluish-white);
  padding: 12px 48px;

  font-size: 18px;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
  margin-top: 16px;
}

.fv-front-signup-btn:hover {
  background-color: #0518c7;
}

.fv-feature-cards {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 32px;
}

.fv-feature-card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 24px;
  border-radius: 8px;
}

.fv-feature-card h3 {
  margin-bottom: 8px;
}

.icon {
  background-color: #3467e8;
  width: 42px;
  height: auto;
  border-radius: 50%;
  padding: 6px;
  filter: invert(100%);
  margin-bottom: 8px;
}

.fv-invalid-pword {
  color: red;
}

.fv-header-signup > h1 {
  text-align: center;
}

.fv-signup-form {
  display: flex;
  flex-direction: column;

  margin-left: auto;
  margin-right: auto;

  gap: 8px;
  max-width: 600px;
}

.fv-label-input-pair {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.fv-label-input-pair label {
  color: #0c0e1c;
}

.fv-label-input-pair input {
  padding: 16px 8px;
  border-radius: 8px;
  border: 1px solid black;

  box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.1);
}

.fv-dashboard {
  padding: 16px 32px;
  display: flex;
}

.fv-side-bar {
  flex-grow: 1;
  margin-right: 16px;
}

.fv-side-bar > a > h1 {
  font-size: 42px;
}

.fv-display-section, .fv-file-display-section {
  flex-grow: 10;
}

.fv-file-display-section {
  display: flex;
  flex-direction: column;
}

.fv-file-display-section > h1 {
  font-size: 24px;
  font-weight: normal;
}

.fv-file-pic {
  margin-left: auto;
  margin-right: auto;
}

.fv-file-details > h3 {
  font-weight: normal;
  font-size: 24px;
}

.fv-file-details {
  display: flex;
  gap: 32px;
}

.fv-file-meat {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: start;

  gap: 16px;
}

.fv-select-input {
  cursor: pointer;
  border: 1px solid black;
  background-color: transparent;
  border-radius: 4px;
  padding: 8px 8px;
}

.fv-file-meat > button {
  padding: 8px 8px;
  border: 1px solid black;
  border-radius: 4px;

  display: flex;
  align-items: center;
  gap: 8px;
}

.fv-download-btn {
  background-color: transparent;
}

.fv-delete-btn {
  background-color: #b52727;
  color: var(--bluish-white);

  > svg {
    fill: var(--bluish-white);
  }
}

.fv-file-meat > button > svg {
  width: 24px;
  height: 24px;
}

.fv-file-meat > button:hover {
  background-color: var(--bluish0);
  color: var(--bluish-white);

  > svg {
    fill: var(--bluish-white);
  }
}

.fv-file-detail {
  margin-bottom: 12px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.fv-file-detail > img {
  width: 24px;
  height: 24px;
}

.fv-file-label-value > p:last-child {
  color: gray;
}

.fv-file-quick-details {
  flex-grow: 1;
}

.fv-file-pic > svg {
  fill: grey;
}

.fv-side-bar-item {
  position: relative;
}

.fv-side-bar-item > form > button {
  border: none;
  background-color: transparent;
}

.fv-side-bar-item > form > button {
  font-size: 16px;
  padding: 0px;
  width: 100%;
}

.fv-side-bar-item a,
.fv-side-bar-item > form > button {
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 8px;
}

.fv-side-bar-item a:hover,
.fv-side-bar-item > form > button:hover {
  border-color: #002cff;
  color: #002cff;
  font-weight: 500;
}

.fv-file-upload-submenu {
  position: absolute;
  left: 100%;
  top: 0%;
}

.fv-side-bar-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 16px;
}

.fv-side-bar-item img {
  width: 28px;
  height: auto;
  filter: invert(55%) sepia(100%) hue-rotate(240deg) brightness(30%) saturate(54%);
}

.fv-display-header {
  display: flex;
  align-items: start;

  margin-bottom: 24px;
}

.fv-search {
  display: flex;
  align-items: center;
  border: 1px solid #1d208f;
  max-width: fit-content;
  border-radius: 4px;
}

.fv-search-btn > svg {
  width: 24px;
  height: 24px;
  fill: #1d208f;
}

.fv-search-btn {
  border: none;
  background-color: transparent;
  padding: 4px 8px;
}

.fv-search > input {
  border: 1px solid transparent;
  outline: none;
  padding: 8px 12px;
  background-color: transparent;
}

.fv-profile-area {
  margin-left: auto;
}

.fv-profile-area > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 4px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FAFAFA;
}

.fv-file-lister {
  display: flex;
}

.fv-file-lister-entry {
  flex-grow: 1;
}

.fv-file-lister-entry > h4 {
  color: #AAAAAA;
  border-bottom: 1px solid black;
  padding: 8px 0px;
}

.fv-file-lister-entry button {
  color: #AAAAAA;
  border-bottom: 1px solid black;
  padding: 8px 8px;
  border: 0px solid transparent;
  background-color: transparent;
  font-weight: 600;
  font-size: 16px;
  border-bottom: 1px solid black;
  width: 100%;
  text-align: left;
}

.fv-file-lister-entry button:hover {
  background-color: #EEEEEE;
}

input[type="checkbox"] {
  border: 1px solid #4F29F0;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;

  transform: scale(1.5);
}

.fv-file-list > li {
  padding: 16px 8px;
  border-bottom: 1px solid #AAAAAA;
  display: flex;
  gap: 16px;
}

.fv-file-list > li > a:hover > p {
  text-decoration: underline var(--bluish0);
}

.fv-recent-files-lister {
  margin-bottom: 16px;
  margin-top: 8px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.fv-recent-file svg {
  width: 96px;
  height: 96px;
  fill: grey;
}

.fv-recent-file {
  max-width: fit-content;
}

.fv-recent-file button {
  background-color: transparent;
  border: 1px solid grey;
  padding: 16px;
  border-radius: 8px;
}

.fv-recent-file p {
  text-align: center;
}

.fv-recent-file button:hover {
  border: 1px solid var(--bluish0);
}

.fv-uploaded-files-header {
  display: flex;
  align-items: center;
}

.fv-uploaded-files-header > div {
  margin-left: auto;
  display: flex;
  align-items: start;
}

.fv-uploaded-files-header  img {
  width: 20px;
  height: auto;
}

.fv-uploaded-files-header button {
  display: flex;
  align-items: center;
  padding: 6px;

  background-color: transparent;
  border: 1px solid gray;
  border-radius: 4px;
}

.fv-uploaded-files-header button:hover {
  border: 1px solid var(--bluish0);
}

.fv-uploaded-files-header > div {
  position: relative;
}

.fv-options-dropdown {
  display: none;
  right: 100%;
  position: absolute;
  background-color: #e1e1fa;
  padding: 12px;
  border-radius: 8px;
}

.fv-options-dropdown > button {
  background-color: transparent;
  border: 1px solid transparent;
}

.fv-options-dropdown > button:hover {
  background-color: var(--bluish-white);
  border: 1px solid transparent;
}

.fv-options-dropdown > button > p {
  margin-left: 8px;
}

footer {
  padding: 24px 16px;
  text-align: center;
}

@media (width <= 1000px) { 
  .fv-introduction {
    flex-direction: column;
    align-items: center;
  }

  .fv-picture-demo {
    width: 480px;
  }
}

@media (width <= 600px) {
  .fv-welcome {
    font-size: 18px;
  }

  .fv-welcome-and-p > p {
    font-size: 10px;
  }

  .fv-feature-card > h3 {
    font-size: 14px;
  }

  .fv-feature-card > p {
    font-size: 10px;
  }

  .fv-header-nav {
    flex-direction: column;
    justify-content:center;
  }

  .fv-header-links {
    padding: 0px;
  }

  footer {
    font-size: 6px;
  }
}

@media (width <= 400px) {
  .fv-picture-demo {
    width: 300px;
  }
}
