@font-face {
  font-family: "space-grotesk";
  src: url("./fonts/space-grotesk.ttf");
}

:root {
  --main-bluelike: #223fd4;
  --bluish0: #3467e8;
  --bluish-white: #f4f9ff;

  --max-container-width: 1300px;
}

* {
  box-sizing: border-box;
  font-family: "space-grotesk";
}

body {
  padding: 0px;
  margin: 0px;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  font-family: "space-grotesk";
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0px;
  margin: 0px;
}

p {
  line-height: 1.6;
}

.fv-header-nav {
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fv-header-links {
  display: flex;
  align-items: center;
  gap: 16px;
}

.sign-in-btn, .sign-up-btn, .fv-submit-btn {
  background-color: var(--bluish0);
  color: var(--bluish-white);
  border: 1px solid transparent;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;
}

.sign-in-btn:hover, .sign-up-btn:hover, .fv-submit-btn:hover {
  background-color: #0518c7;
}

.fv-submit-btn {
  margin-top: 8px;
  border-radius: 12px;
  border: 1px solid #020250;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

a {
  text-decoration: none;
  color: black;
}

.fv-header-nav h1 {
  font-size: 42px;
}

.orangelike-colour {
  color: var(--main-bluelike);
}

main {
  padding: 0px 32px;
}

.fv-introduction, .fv-features {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-container-width);
}

.fv-introduction {
  display: flex;
}

.fv-picture-demo {
  width: 700px;
  height: auto;
}

.fv-welcome-and-p {
  max-width: 600px;
  min-width: 200px;
}

.fv-welcome {
  font-size: 32px;
  margin-bottom: 4px;
}

.fv-front-signup-btn {
  border: 1px solid transparent;
  background-color: #3467e8;
  color: var(--bluish-white);
  padding: 12px 48px;

  font-size: 18px;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
  margin-top: 16px;
}

.fv-front-signup-btn:hover {
  background-color: #0518c7;
}

.fv-feature-cards {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 32px;
}

.fv-feature-card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 24px;
  border-radius: 8px;
}

.fv-feature-card h3 {
  margin-bottom: 8px;
}

.icon {
  background-color: #3467e8;
  width: 42px;
  height: auto;
  border-radius: 50%;
  padding: 6px;
  filter: invert(100%);
  margin-bottom: 8px;
}

.fv-header-signup > h1 {
  text-align: center;
}

.fv-signup-form {
  display: flex;
  flex-direction: column;

  margin-left: auto;
  margin-right: auto;

  gap: 8px;
  max-width: 600px;
}

.fv-label-input-pair {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.fv-label-input-pair label {
  color: #0c0e1c;
}

.fv-label-input-pair input {
  padding: 16px 8px;
  border-radius: 8px;
  border: 1px solid black;

  box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.1);
}

footer {
  padding: 24px 16px;
  text-align: center;
}

@media (width <= 1000px) { 
  .fv-introduction {
    flex-direction: column;
    align-items: center;
  }

  .fv-picture-demo {
    width: 480px;
  }
}

@media (width <= 600px) {
  .fv-welcome {
    font-size: 18px;
  }

  .fv-welcome-and-p > p {
    font-size: 10px;
  }

  .fv-feature-card > h3 {
    font-size: 14px;
  }

  .fv-feature-card > p {
    font-size: 10px;
  }

  .fv-header-nav {
    flex-direction: column;
    justify-content:center;
  }

  .fv-header-links {
    padding: 0px;
  }

  footer {
    font-size: 6px;
  }
}

@media (width <= 400px) {
  .fv-picture-demo {
    width: 300px;
  }
}
